svg{
  background-color: antiquewhite;
  margin-left: auto;
  margin-right: auto;
  display : block;
}

body {
	margin: auto;
	width: 650px;
	font: 17px arial;
  color: purple;
}

.bar {
  fill: steelblue;
}

.highlight{
  fill: orange;
}
